<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>home</mat-icon>Dashboard</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Features</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon>pages</mat-icon>UIC Projects Evaluation</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/wellstars">
    <mat-icon>star</mat-icon>WellSTAR Database</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Communication</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/inbox">
    <mat-icon>mail</mat-icon>Inbox</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/connect">
      <mat-icon>chat_bubble</mat-icon>In-app Connect</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/inbox">
    <mat-icon>help_outline</mat-icon>Contact Supports</a>

</mat-nav-list>
