<div id="overall">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!-- Step One  
            **-- Project Name Input -- **
        -->
        <div>

            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Project Name</ng-template>
                <div class="projectForm">
                    <p>
                        This is where instructions will go
                    </p>
                    <form #projectName="ngForm" (ngSubmit)="submitProjectName(projectName)">
                        <mat-form-field>
                            <mat-label>Give A Project Name</mat-label>
                            <input matInput ngModel name="projectName" #projectName="ngModel" id="projectName">
                        </mat-form-field>
                        <br>
                        <button mat-button type="submit" matStepperNext>Create Project</button>
                    </form>
                </div>
                
            </mat-step>
        </div>

        <!-- Step Two  
            **-- Adding and Removing Wells --**
        -->
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Reviewing the List of Wells</ng-template>
            <app-add-remove-project-wells></app-add-remove-project-wells>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>New Step</button>
            </div>
        </mat-step>
        
        <!-- Step Three 
            **-- Confirmation + Send to Regulatory Project --**
         -->
        <mat-step>
            <ng-template matStepLabel>Confirmation</ng-template>
            <app-project-confirm></app-project-confirm>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Submit</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-divider></mat-divider>
    <br>
    
</div>