<div id="overall">
    <a mat-flat-button href="/welloperator/">Go back to Dashboard</a>
    
        <mat-horizontal-stepper [linear]="isLinear" #stepper>    
            
            <!-- Step One 
                **-- Confirmation + Send to Regulatory Project --**
            -->
            <mat-step>
                <ng-template matStepLabel>Project Overview</ng-template>
                <app-existing-project-overview></app-existing-project-overview>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            
            <!-- Step Two  
                **-- Adding and Removing Wells --**
            -->
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Reviewing the List of Wells</ng-template>
                <app-add-remove-project-wells></app-add-remove-project-wells>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>New Step</button>
                </div>
            </mat-step>
            
            <!-- Step Three 
                **-- Confirmation + Send to Regulatory Project --**
            -->
            <mat-step>
                <ng-template matStepLabel>Project Confirmation</ng-template>
                <app-project-confirm></app-project-confirm>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Submit</button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
        <mat-divider></mat-divider>
        <br>
        
    </div>