<div>
  <h6>Welcome to Smart Injection!</h6>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stat-cards">
  <mat-card fxFlex="30">
    <app-widget-card>
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="30">
    <app-widget-card></app-widget-card>
  </mat-card>
  <mat-card fxFlex="30">
    <app-widget-card></app-widget-card>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100">
    <app-widget-table></app-widget-table>
  </div>
</div>
