<!-- Things that still need to be fixed and added 
    [] "Wells in Project" Expandable 
    [] "Wells in Project" table responsive with mat-card
    [] Checkboxes batch up the selected wells + add to "Well in Project" table
    [] Filtering and Sorting with Checkbox Tables
        Possible solution: 
        https://stackoverflow.com/questions/53631391/angular-6-filter-table-with-checkboxes/53631579
    
-->
<div fxLayout id="overall">
	<div fxLayout="column">
		<div class="item">
            <mat-card class="project-info-card">
              <mat-card-header>
                <mat-icon mat-card-avatar>info</mat-icon>
                <mat-card-title>Landcaster Holdings</mat-card-title>
                <mat-card-subtitle>Project Information</mat-card-subtitle>
              </mat-card-header>
                
                <mat-card-content>
                    <p>Owner: {{ owner }} </p>
                    <p>Project Date Created: {{ projectDate }}</p>
                    <p>Number of Wells in Project: {{ wells }}</p> 
                
                </mat-card-content>
            </mat-card>
        </div>

		<div class="item">
            <mat-card class="project-wells">
                <mat-card-header>
                    <mat-icon mat-card-avatar>list</mat-icon>
                    <mat-card-title>
                        Wells in Project
                    </mat-card-title>
                    <mat-card-subtitle>
                        Wells in Project: {{ wells }}
                    </mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-content>
                    <table mat-table [dataSource] = "dataSource1" class="mat-elevation-z8" id="project-well-table">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Well Name </th>
                            <td mat-cell *matCellDef="let well"> {{ well.name }}</td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
	<div class="item" id="select-table-div">
        <mat-card id="select-table">
            <mat-card-header>
                <mat-icon mat-card-avatar>library_add</mat-icon>
                <mat-card-title>Well Select</mat-card-title>
                <mat-card-subtitle>Select wells to add to this project</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" id="select-table">
        
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="wellName">
                      <th mat-header-cell *matHeaderCellDef> Well Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.wellName}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="lease">
                      <th mat-header-cell *matHeaderCellDef> Lease </th>
                      <td mat-cell *matCellDef="let element"> {{element.lease}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="wellType">
                      <th mat-header-cell *matHeaderCellDef> Well Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.wellType}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="locationType">
                      <th mat-header-cell *matHeaderCellDef> Location Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.locationType}} </td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="location">
                      <th mat-header-cell *matHeaderCellDef> Location </th>
                      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="selectTableCol"></tr>
                    <tr mat-row *matRowDef="let row; columns: selectTableCol;"
                        (click)="selection.toggle(row)">
                    </tr>
                  </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<br>


<br>

<br><br>