<!-- <p>wo-dashboard works!</p>
<mat-card>
    hello there dashboard!
</mat-card> -->

<h1>{{ pageTitle }}</h1>

<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="10px">
    <mat-card class="projects-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>edit</mat-icon>
        <mat-card-title>Projects Management</mat-card-title>
        <mat-card-subtitle>Choose an option to manage your projects.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div fxLayout="column" fxLayoutGap="10px">
        <a mat-raised-button color="accent" href="/welloperator/new-project">CREATE NEW PROJECT</a>
        <button mat-raised-button color="primary">DRAFTED PROJECTS</button>
        <button mat-raised-button color="primary">PENDING PROJECTS</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card class="wells-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>star</mat-icon>
        <mat-card-title>Wells Management</mat-card-title>
        <mat-card-subtitle>Choose an option to manage your wells.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div fxLayout="column" fxLayoutGap="10px">
        <a mat-raised-button href="/welloperator/create-well" color="accent">CREATE NEW WELL</a>
        <a mat-raised-button href="/welloperator/propose-wells" color="primary">PROPOSE WELLS</a>
        <a mat-raised-button href="/welloperator/my-wells" color="primary">MY WELLS</a>
        </div>
      </mat-card-actions>
    </mat-card>
</div>

<br>
<h2>My UIC Projects</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input name="filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Project Name -->
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
        <td mat-cell *matCellDef="let row">
          <a href="/welloperator/exist-project">
            {{row.state.data.projectName}} 
          </a> 
        </td>
      </ng-container>

      <!-- Project Number -->
      <ng-container matColumnDef="projectNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project No. </th>
        <td mat-cell *matCellDef="let row"> {{row.state.data.UICProjectNumber}} </td>
      </ng-container>

      <!-- Project Status -->
      <ng-container matColumnDef="projectStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Status </th>
        <td mat-cell *matCellDef="let row"> {{row.state.data.status}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>