<!-- <p>wo-dashboard works!</p>
<mat-card>
    hello there dashboard!
</mat-card> -->

<h1>{{ pageTitle }}</h1>

<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="10px">
    <mat-card class="drafted-projects-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>edit</mat-icon>
        <mat-card-title>Drafted Projects</mat-card-title>
        <mat-card-subtitle>You have unsubmitted project(s).</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Oldest Project: Shiba Inu</p>
        <p>Created on: 12/12/20</p>
        <p>Created by: Joe Doe</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button href="/welloperator/edit-project" color="warn">EDIT OLDEST DRAFT</a>
        <button mat-raised-button color="primary">ALL DRAFTED</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="my-wells-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>star</mat-icon>
        <mat-card-title>My Wells</mat-card-title>
        <mat-card-subtitle>There are 30 new wells recently added.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Newest Well: Weiss</p>
        <p>Part of Project: Corgi</p>
        <p>Created by: Alex Smith</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button href="/welloperator/propose-wells" color="accent">PROPOSE WELLS</a>
        <a mat-raised-button href="/welloperator/my-wells" color="primary">ALL WELLS</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="create-card">
      <mat-card-header>
      <mat-icon mat-card-avatar>library_add</mat-icon>
      <mat-card-title>Create</mat-card-title>
      <mat-card-subtitle>Choose an option.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Create a new project to add wells.</p>
      <a mat-raised-button color="accent" href="/welloperator/new-project">CREATE NEW PROJECT</a>
      <p>Create a new well to add into a project</p>
      <a mat-raised-button href="/welloperator/create-well" color="accent">CREATE WELLS</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="pending-projects-cards">
    <mat-card-header>
    <mat-icon mat-card-avatar>query_builder</mat-icon>
    <mat-card-title>Pending Projects</mat-card-title>
    <mat-card-subtitle>3 projects are waiting for calGEM.</mat-card-subtitle>
  </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary">ALL PENDING PROJECTS</button>
    </mat-card-actions>
  </mat-card>
</div>

<br>
<h2>My UIC Projects</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input name="filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
        <td mat-cell *matCellDef="let row">
          <a href="/welloperator/new-project">
            {{row.state.data.projectName}} 
          </a> 
        </td>
      </ng-container>
  
    
      <ng-container matColumnDef="projectNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project No. </th>
        <td mat-cell *matCellDef="let row"> {{row.state.data.UICProjectNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="projectStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Status </th>
        <td mat-cell *matCellDef="let row"> {{row.state.data.status}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>